<h1> Cool Cocktails Mate</h1>

  <% @cocktails.each do |cocktail|  %>
    <ul>
      <li> <%= cocktail.name  %>
        <%= link_to "Ingredients", cocktail_path(cocktail) %>
        <%= link_to "delete", cocktail_path(cocktail.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
    </ul>
  <% end %>

  <%= link_to "Create a Cocktail", new_cocktail_path %>
